
.h1 {
    text-align: center;
}

.rates {
    display: flex;
    margin-bottom: 15px;
}

.rates > *:first-child {
    margin-left: 0;
}

.rates > *:last-child {
    margin-right: 0;
}

.rates > * {
    margin-right: 5px;
    margin-left: 5px;
}

.rate-item-title {
    font-weight: 700;
    font-size: 18px;
}
.rate-item-value {
    font-size: 32px;
    font-weight: 300;
}

.rate-item-value.top {
    color: rgb(255, 51, 51);
}

.rate-item-value.bottom {
    color: rgb(19, 189, 61);
}

